syntax: glob
*.gpr
*.gar
*.qcow2
*.bin
*.elf
!src/libs/*/*.a
*.fir
.*
!.hgignore
!.gitignore
.*.swp
a.out
*.exe
*.rar
*.list
*.raw
*.dis
chdk
eos
font-*.c
font-*.in
*.tar
*.zip
*.orig
tags
*.jpg
*.mov
*.mp3
*.fcp
*.jpeg
*.wav
*.i
*.log
*.pyc
build_tools/xor_chk
docs/html
docs/latex
pymite-nat.c
pymite-img.c
platform/*/build
platform/all/autoexec-all
platform/all/autoexec-fir
platform/all/ML
platform/all/build
doc/*.aux
doc/*.out
doc/*.pdf
doc/*.rst
doc/*.toc
doc/cam/*.png
doc/cam/*.bmp
doc/INSTALL.tex
doc/UserGuide-cam.tex
doc/UserGuide.tex
doc/cam/menuidx.dat
doc/credits.tex
doc/install-body.tex
doc/install.wiki
doc/menuindex.txt
installer/*/*.lds
installer/*/build
installer/build
doc/Cropmarks550D.png
contrib/ptpcam/ptpcam
contrib/make-bootable/exfat_sum
doc/cam
INSTALL.tex-e
UserGuide.tex-e
UserGuide-cam.tex-e
zip.txt
doxygen-doc/*
platform/build
modules/build
modules/*/build
modules/*/*/build
developer_guide/developer_guide.html
developer_guide/developer_guide.pdf

syntax: regexp
